@font-face {
    font-family: 'arcade';
    src: url(fonts/PublicPixel-z84yD.ttf);
}

body {
    background-color: black;
}

h1, h5 {
    color: white;
    text-align: center;
    font-family: 'arcade', sans-serif;
}

div.calc-container {
    border: 5px solid white;

    display: flex;
    flex-direction: column;
      
}

button {
    margin: auto;
}


div#display {
    border: 1px solid black;
    background-color: grey;
    color: white;
}

div.memory {
    color: white;
}